.fo{
border: 3px solid;
padding: 50px;
width: 50%;
margin-left: 10px;
box-shadow: 10px 10px 8px 10px #888888;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;

}
.form{
    background-size :100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
    background-color: #888888;
} 
.log{
    margin-left: 300px;
}
.reg{
text-decoration: none;
}

